<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            position: absolute;
            color: #ffffff;
        }
    </style>
</head>

<body>

    <div>
        <h4>----------右鍵移動，多開網頁測試，fps60----------</h4>
        <a href="http://localhost:3001/" style="color: #ffffff;padding-left: 100px;" >test game</a>
    </div>
    <canvas class="fill" id="canvas" ;></canvas>

    <script src="static/js/main.js">

    </script>

</body>

</html>